.main-nav nav .navbar-nav .nav-item {
  transition: all 2s;
}

.navbar-nav .nav-item:has(.dropdown-menu) > .nav-link::after {
  content: "▼";
  font-size: 60%;
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}

.navbar-nav .nav-item:hover > .nav-link::after {
  transform: rotate(180deg); 
}

.nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav-link-logo1{
  width: clamp(100px, 5vw, 200px);
  height: auto;
  aspect-ratio: 1/1;
}

.tas-name{
  color: rgb(50, 50, 236);
  text-decoration: underline;
  text-decoration-color: rgb(211, 188, 59);
}


.banner-bg1 {
  background-image: url('../images/bg/img_9.jpg');
}

.banner-bg2 {
  background-image: url('../images/bg/img_13.webp');
}

.banner-bg3 {
  background-image: url('../images/bg/img_12.jpg');
}

.banner-content h1{
  color: white;
}

.banner-content-3 h1{
  color: black;
}

.clickable{
  cursor: pointer;
}

