<!DOCTYPE html> {%load static%} {% load static %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Portfolio</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <script defer src='{% static "js/main.js" %}'></script>
</head>
<body>
  <header>
    {% include "components/component_header_1.html" %}
  </header>

  <main>
    <section id="portfolio-banner">
      <h1>PORTFOLIO</h1>
      <p>HOME/PORFOLIO</p>
    </section>

    section
  </main>

  <footer>
    {% include "components/component_footer.html" %}
  </footer>
</body>
</html>