<!DOCTYPE html> {%load static%} {% load static %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Our Services</title>
  <link rel="icon" type='image/x.icon' href="{% static "images/tas-logo.jpg" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/services.css" %}">
  <script defer src='{% static "js/main.js" %}'></script>
</head>
<body>
  <header>
    {% include "components/component_header_1.html" %}
  </header>

  <main>
    <section id="our-services-banner">
      <h1>OUR SERVICES</h1>
      <h2>HOME/OUR SERVICES</h2>
    </section>

    <section id="services">
      <div id="services-cards">
        <div class="service-card">
          <img src="{% static "images/tas-logo.jpg" %}" alt="" class="service-card-image">
          <h3 class="service-title">GENERAL CONSTRUCTION</h3>
          <a href="" class="view-service-tag">View Service</a>
        </div>

        <div class="service-card">
          <img src="{% static "images/tas-logo.jpg" %}" alt="" class="service-card-image">
          <h3 class="service-title">PROPERTY MAINTENANCE</h3>
          <a href="" class="view-service-tag">View Service</a>
        </div>

        <div class="service-card">
          <img src="{% static "images/tas-logo.jpg" %}" alt="" class="service-card-image">
          <h3 class="service-title">VIRTUAL DESIGN AND BUILD</h3>
          <a href="" class="view-service-tag">View Service</a>
        </div>

        <div class="service-card">
          <img src="{% static "images/tas-logo.jpg" %}" alt="" class="service-card-image">
          <h3 class="service-title">GENERAL CONSTRUCTION</h3>
          <a href="" class="view-service-tag">View Service</a>
        </div>

        <div class="service-card">
          <img src="{% static "images/tas-logo.jpg" %}" alt="" class="service-card-image">
          <h3 class="service-title">PROPERTY MAINTENANCE</h3>
          <a href="" class="view-service-tag">View Service</a>
        </div>

        <div class="service-card">
          <img src="{% static "images/tas-logo.jpg" %}" alt="" class="service-card-image">
          <h3 class="service-title">VIRTUAL DESIGN AND BUILD</h3>
          <a href="" class="view-service-tag">View Service</a>
        </div>
      </div>
    </section>
  </main>

  <footer>
    {% include "components/component_footer.html" %}
  </footer>
</body>
</html>