<section id= 'tas-contact'>
      <div id='tas-contact-1'>
        <img class='tas-location' src="" alt="">
        <div class="location-info">
          <p>Our Location</p>
          <p>Tema Ashaiman Lebanon</p>
        </div>
      </div>

      <div id='tas-contact-2'>
        <img class='tas-email' src="" alt="">
        <div class="email-info">
          <p>Send Us an Email</p>
          <p>tasengineerinsolutions@gmail.com</p>
        </div>
      </div>
    </section>

    <section>
      <p>We go through all the stages of engineering</p>
    </section>

    <section id="tas-banner" class='tas-banner'>
      <img class='tas-logo-image' src="" alt="tas logo image">
      <div class='tas-name'>
        <p>TAS</p>
        <p>Engineering</p>
        <p>Solutions</p>
      </div>
    </section>
      
    <section id="nav">
      <nav>
        <ol>
          <li><a href="">HOME</a></li>
          <li><a href="">SERVICES</a></li>
          <li><a href="">PORTFOLIO</a></li>
          <li><a href="">CONTACT</a></li>
        </ol>
      </nav>

      <div id="get-a-quote">
        <a href="">Get a Quote</a>
      </div>