<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'images/tas-logo.jpg'%}">

    <link href="{%get_static_prefix%}dashboard/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{%get_static_prefix%}dashboard/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{%get_static_prefix%}dashboard/assets/css/app.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include "dashboard/components/nav.html" %}
    <div class="page-wrapper">
      <div class="page-content">
        <div class="container-fluid">
          <div class="table-wrapper">
            <style>
              .table-wrapper{
                display: flex;
                width: 100%;
                min-width: 100%;
                justify-content: center;
              }

              
            </style>
            <div class="table-container">
              <table class="roles-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Base Rate</th>
                    <th>Employees</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  {% for role in roles %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{role.name}}</td>
                    <td>{{role.position}}</td>
                    <td>{{role.base_rate}}</td>
                    <td>{{role.employees.count}}</td>
                    <td>Edit</td>
                    <td>Delete</td>
                    <td>View</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{%get_static_prefix%}dashboard/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{%get_static_prefix%}dashboard/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="{%get_static_prefix%}dashboard/assets/js/app.js"></script>

    
    <!-- jQuery (load once!) -->
    <script src="{%static 'dashboard/assets/js/jquery.js'%}"></script>

    <!-- DataTables core -->
    <script src="{%static 'dashboard/assets/js/dataTables.min.js'%}"></script>

    <!-- Buttons -->
    <script src="{%static 'dashboard/assets/js/dataTables.buttons.min.js'%}"></script>
    <script src="{%static 'dashboard/assets/js/jsButtonsHTML5.min.js'%}"></script>
    <script src="{%static 'dashboard/assets/js/jsButtons.print.min.js'%}"></script>

    <script src="{%static 'dashboard/assets/js/pdfmake.min.js'%}"></script>

    <script src="{%static 'dashboard/assets/js/vsffonts.js'%}"></script>
    <script src="{%static 'dashboard/assets/js/szip.min.js'%}"></script> {% comment %} For Excel table download {% endcomment %}
    


    {% comment %}
      <!-- Export dependencies -->
    {% endcomment %}

    <script>
      $(document).ready(function() {
          $('.roles-table').DataTable({
              responsive: true,
              dom: 'Bfrtip',
              buttons: [
                'csv', 'excel', 'pdf', 'print'
              ],
              pageLength: 10,
              autowidth: false,
          });
      });
    </script>

  </body>
</html> 