{% load static %}
<div class="process-area pt-100 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <span class="sp-before">Our Work Process</span>
      <h2>How Does TAS Work</h2>
      <p>Analytics, Planing and Meeting your needs. We prioritize quality of projects, putting YOU the client first.</p>
    </div>
    <div class="row pt-45">
      <div class="col-lg-4 col-sm-6 col-md-4">
        <div class="process-card">
          <i class="flaticon-ideas"></i>
          <h3>Conceptual</h3>
          <p>Analytical stage, <span class='phase phase-1'>Phase 1</span> </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-4">
        <div class="process-card">
          <i class="flaticon-sketch"></i>
          <h3>Schematic</h3>
          <p>Planning stage, <span class='phase phase-2'>Phase 2</span> </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-4 offset-lg-0 offset-md-0 offset-sm-3">
        <div class="process-card">
          <i class="flaticon-deep-learning"></i>
          <h3>Development</h3>
          <p>Development stage, <span class='phase phase-3'>Phase 3</span> </p>
        </div>
      </div>
    </div>
  </div>
</div>